# Python
.venv/
__pycache__/
*.pyc

# Sensitive Files & dbt artifacts
.env
dbt_project/logs/
dbt_project/target/
dbt_project/dbt_packages/

# We will track the DB file for deployment, so don't ignore *.db